<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.whispersystems.whisperpush">

    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="17"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_BLACKLIST"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERCEPT_SMS"/>
    <uses-permission android:name="android.permission.MODIFY_PROTECTED_SMS_LIST"/>
    <uses-permission android:name="android.permission.RECEIVE_PROTECTED_SMS"/>
    <uses-permission android:name="android.permission.BROADCAST_SMS"
                     tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <permission android:name="org.whispersystems.whisperpush.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="org.whispersystems.whisperpush.permission.C2D_MESSAGE" />

    <permission android:name="org.whispersystems.whisperpush.permissions.REGISTER"
                android:protectionLevel="signature" />

    <application android:name=".WhisperPush"
                 android:icon="@drawable/icon"
                 android:label="WhisperPush"
                 android:allowBackup="false"
                 android:theme="@style/Theme.Main">

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".ui.RegistrationActivity"
                  android:windowSoftInputMode="stateUnchanged"
                  android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>


        </activity>

        <activity android:name=".ui.GooglePlayServicesUpdateActivity" />

        <activity android:name=".ui.CountrySelectionActivity"
                  android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"/>

        <activity android:name=".ui.ErrorAndResetActivity"
                  android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"/>

        <activity android:name=".ui.RegistrationProgressActivity"
                  android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"/>

        <activity android:name=".ui.RegistrationProblemsActivity"
                  android:theme="@android:style/Theme.Holo.Dialog"
                  android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"/>

        <activity android:name=".ui.RegistrationCompletedActivity"
                  android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"/>

        <activity android:name=".ui.ReviewIdentitiesActivity"
                  android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
                  android:label="@string/pref_review_keys__title"
                  android:theme="@style/Theme.Main">


        </activity>

        <activity android:name=".ui.ViewIdentityActivity"
                  android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
                  android:theme="@style/Theme.Main"/>

        <activity android:name=".ui.ViewMyIdentityActivity"
                  android:label="@string/pref_my_identity__title"
                  android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
                  android:theme="@style/Theme.Main"/>

        <activity android:name=".ui.ViewNewIdentityActivity"
                  android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"/>

        <activity android:name=".ui.VerifyIdentityActivity"
                  android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"/>

        <activity android:name=".ui.VerifyIdentitiesActivity"
                  android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"/>

        <activity android:name=".ui.PreferenceActivity"
                  android:exported="true"
                  android:label="@string/pref_activity_title"
                  android:theme="@style/Theme.Main"/>

        <service android:enabled="true"
                 android:exported="true"
                 android:name=".service.RegistrationService"
                 android:permission="org.whispersystems.whisperpush.permissions.REGISTER"/>

        <service android:enabled="true" android:name=".service.SendReceiveService"/>
        <service android:enabled="true" android:name=".service.DirectoryRefreshService"/>

        <receiver android:name=".sms.SmsListener"
                  android:enabled="true"
                  android:exported="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.ACTION_PROTECTED_SMS_RECEIVED"/>
                <action android:name="android.intent.action.NEW_OUTGOING_SMS"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".gcm.GcmReceiver"
                  android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="org.whispersystems.whisperpush" />
            </intent-filter>
        </receiver>

        <receiver android:name=".service.DirectoryRefreshListener">
            <intent-filter>
                <action android:name="org.whispersystems.whisperpush.DIRECTORY_REFRESH"/>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <provider android:authorities="org.whispersystems.whisperpush.provider"
                  android:name=".attachments.AttachmentProvider"
                  android:protectionLevel="signatureOrSystem"
                  android:exported="true" />

        <provider android:authorities="org.whispersystems.whisperpush.sessionprovider"
                  android:name=".db.ActiveSessionProvider"
                  android:protectionLevel="signatureOrSystem"
                  android:exported="true" />

    </application>

</manifest>
