<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.whispersystems.whisperpush">

    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="17"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="org.whispersystems.whisperpush.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="org.whispersystems.whisperpush.permission.C2D_MESSAGE" />

    <application android:icon="@drawable/icon"
                 android:label="WhisperPush"
                 android:theme="@android:style/Theme.Holo.Light.DarkActionBar">

        <activity android:name=".ui.RegistrationActivity"
                  android:windowSoftInputMode="stateUnchanged"
                  android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".ui.CountrySelectionActivity"
                  android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"/>

        <activity android:name=".ui.RegistrationProgressActivity"
                  android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"/>

        <activity android:name=".ui.RegistrationProblemsActivity"
                  android:theme="@android:style/Theme.Holo.Light.Dialog"
                  android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"/>

        <service android:enabled="true" android:name=".service.RegistrationService"/>

        <receiver android:name=".sms.SmsListener"
                  android:enabled="true"
                  android:exported="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".gcm.GcmReceiver"
                  android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="org.whispersystems.whisperpush" />
            </intent-filter>
        </receiver>

        <receiver android:name=".service.RegistrationNotifier"
                  android:exported="false">
            <intent-filter>
                <action android:name="org.thoughtcrime.securesms.REGISTRATION_EVENT" />
            </intent-filter>
        </receiver>

        <provider android:authorities="org.whispersystems.whisperpush.provider"
                  android:name=".attachments.AttachmentProvider"
                  android:protectionLevel="signatureOrSystem"
                  android:exported="true" />

    </application>

</manifest>
